ExampleProjects/web_xml/src/main/resources/xsd/v4/task.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="task">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="id"/>
                <xs:element ref="header"/>
                <xs:element ref="content"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="id" type="xs:integer"/>
    <xs:element name="header" type="xs:NCName"/>
    <xs:element name="content" type="xs:NCName"/>
</xs:schema>
